.checkout-container {
    padding: 15px;
}

.shopping-cart {
    display:flex;
    justify-content: flex-end;
    padding-right: 25px;
}

.checkout {
    display:flex;
    flex-direction: row;
    border: 2px solid black;
    position: relative;
    margin: 0.25em 1em 0 0;
    background: linear-gradient(to top right,rgba(49, 46, 46, 0.6), 25%, rgba(62, 28, 75, 0.9));
    transition: linear 0.3s;
}

.checkout:hover {
    background: linear-gradient(to top right,rgba(49, 46, 46, 0.7), 15%, rgba(84, 35, 104, 0.8));
}

.cart-checkout {
     padding: 5px;
}

.checkout span h3 {
    color:black;
}

/* checkout items */
.wares-wrapper {
    display:flex;
    flex-wrap: wrap;
    padding: 0 15px 15px;
}

.wares-container {
    display: flex;
    max-width:30%;
    width:30%;
    flex: 1 1 30%;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    border: 2px solid black;
    margin: 1.5em 1em;
    box-shadow: 3px 4px 3px #030303;
}

.wares-container form {
    width: 100%;
}

.wares-image {
    display:flex;
    height: 200px;
    align-items:center;
    padding: 10px;
    position: relative;
    justify-content: center;
}

.wares-remove {
    position: absolute;
    padding:5px;
    top:0;
    right:0;
    background:red;
    border:none;
}
.wares-remove:hover {
    background:rgba(255, 0, 0, 0.746);
}

.wares-info {
    display:flex;
    border-top: 2px solid black;
    text-align: center;
}

.wares-info .info-left {
    width:49%;
    flex: 1 1 49%;
}

.wares-info .info-right {
    max-width:49%;
    width:49%;
    flex: 1 1 49%;
}
@media screen and (max-width: 65em) {
    .wares-container {
        max-width:calc(50% - 36px);
        width: calc(50% - 36px);
        flex: 1 1 calc(50% - 36px);
    }
}

@media screen and (max-width: 40em) {
    .wares-container {
        max-width:100%;
        width: 100%;
        flex: 1 1 100%;
    }
}