#headwrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 7px 1px black;
    height: 4em;
    z-index: 1000;
    background-color: #161616;
}

.head-container {
    display: flex;
    margin: 0 auto;
    width: 100em;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-link {
    padding: 0 1.2em;
    align-self: center;
    height: 4em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    background:#fff;
}


.nav-link-text {
    position: relative;
    top: 1.5px;
    font-size: 1.25em;
}
