{% extends "base.html" %}
{%block title%}WizShop{%endblock%}

{%block content%}
    <a href="/checkout" class="shopping-cart">
        <div class="cart-container">
            {% if session["wares"] | length == 0 %}
                <span class="cart-count">
                    <h3>Empty</h3>
                </span>
            {% else %}
                <span class="cart-count">
                    <h3>{{session["wares"] | length}} items in cart</h3>
                </span>
            {% endif %}
            <span class="cart-icon">
                <img src="/static/images/shopping-cart.jpg">
            </span>
        </div>
    </a>
    <div class ="grid-wrapper">
        {% for item in products["wares"] %}
        {% for key, value in item.items() %}
        <form action="/" method="POST">
            <input type="hidden" name="add_to_cart" value="{{key}}">
            <div class="product-item">
                <div class="product-item-image">
                    <img src="{{value['image']}}">
                </div>
                <div class="product-info">
                    <div class="info-left">Product {{value['product']}}</div>
                    <div class="info-right">Price <b>{{value['price']}}</b>kr</div>
                </div>
                <input type="submit" class="product-addcart" value="Add to cart"></input>
            </div>
        </form>
        {% endfor %}
        {% endfor %}
    </div>
{%endblock%}